---
import BaseLayout from "../../layouts/BaseLayout.astro";
import DetailTalkCard from "../../components/DetailTalkCard.astro";
import PrevNext from "../../components/PrevNext.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
    const talks = await fetchApi({
        endpoint: "talks",
        wrappedByKey: "data",
        query: {
            populate: [
                "speaker",
                "speaker.image",
                "room",
                "room.venue",
                "day",
                "category",
            ],
        },
    });

    const filteredTalks = talks.filter((talk) => {
        const category = talk.attributes.category?.data?.attributes.category;
        return ["talk", "workshop", "exhibition"].includes(category);
    });

    console.log(filteredTalks);

    const paths = filteredTalks.map((talk, i) => ({
        params: { id: talk.attributes.slug.toString() },
        props: {
            talk,
            next: i < filteredTalks.length - 1 ? filteredTalks[i + 1] : null,
            prev: i > 0 ? filteredTalks[i - 1] : null,
        },
    }));

    return paths;
}

const { talk, prev, next } = Astro.props;
---

<style>
    .more {
        display: flex;
        gap: var(--s-m);
        max-inline-size: max-content;
        margin: -3rem auto;
    }
</style>

<BaseLayout pageTitle={talk.attributes.title}>
    <DetailTalkCard talk={talk} />
    <section class="more">
        <div class="category">
            <a
                class="button"
                href={`${import.meta.env.BASE_URL}/category/${
                    talk.attributes.category.data.attributes.slug
                }`}>more {talk.attributes.category.data.attributes.category}s</a
            >
        </div>
        <div class="location">
            <a
                class="button"
                href={`${import.meta.env.BASE_URL}/venue/${
                    talk.attributes.room.data.attributes.venue.data.attributes
                        .slug
                }`}
                >more at the {
                    talk.attributes.room.data.attributes.venue.data.attributes
                        .name
                }</a
            >
        </div>
    </section>
    <PrevNext prev={prev} next={next} path="talks" />
</BaseLayout>
