---
import { Image, imageConfig } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import SpeakerList from "../components/SpeakerList.astro";
import VenueList from "../components/VenueList.astro";
import TicketCard from "../components/TicketCard.astro";

import AnimalImg from "../assets/img/animals.jpeg";
import PatternImg from "../assets/img/pattern.jpeg";

import fetchApi from "../lib/strapi";
const speakers = await fetchApi({
	endpoint: "speakers",
	wrappedByKey: "data",
	query: { populate: "*" },
});
const venues = await fetchApi({
	endpoint: "venues",
	wrappedByKey: "data",
});
const tickets = await fetchApi({
	endpoint: "tickets",
	wrappedByKey: "data",
});

const pageTitle = "Home";

// const imagePath = import.meta.env.BASE_URL;
---

<style>
	h1 {
		display: none;
	}
	.header {
		block-size: 100vh;
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.8),
				rgba(255, 255, 255, 0.2)
			),
			url(../../assets/img/origami-boat.jpeg);
		background-size: cover;
		display: grid;
		align-items: center;
		padding: var(--s-3xl);
	}
	.header__container {
		display: grid;
		grid-template-columns: 45rem 1fr;
		grid-template-rows: repeat(4, min-content);
		gap: var(--s-m);
		color: var(--c-black);
		padding-block-end: var(--s-3xl);
	}
	.header__title {
		grid-row: 2;
		display: flex;
		flex-direction: column;
	}
	.header__title strong {
		font-size: var(--f-3xl);
	}
	.header__description {
		grid-row: 3;
		inline-size: 25rem;
	}
	.header__info {
		grid-row: 1;
		display: flex;
		gap: var(--s-l);
	}
	.header__date,
	.header__location {
		font-family: "Chakra Petch", sans-serif;
		font-size: var(--f-m);
		font-weight: 500;
	}
	.header__buttons {
		display: flex;
		gap: var(--s-l);
		grid-row: 4;
	}
	.button--header {
		color: var(--c-black);
	}

	.about {
		padding-block: var(--s-xl);
		display: grid;
		grid-template-columns: 1fr;
		position: relative;
	}
	.about__description {
		grid-row: 2;
	}
	.about__img {
		position: absolute;
		justify-self: flex-end;
		inline-size: 30rem;
	}
	.about__img:nth-of-type(1) {
		right: -10rem;
	}
	.about__img:nth-of-type(2) {
		top: 10rem;
	}

	.ticket__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
		gap: var(--s-m);
	}
</style>

<BaseLayout pageTitle={pageTitle}>
	<h1>Home</h1>
	<section class="header">
		<div class="header__container">
			<h2 class="header__title">
				<strong>FoldCon:</strong> Unveiling Paper's Folded Wonders
			</h2>
			<p class="header__description">
				Discover Tokyo's origami legacy and immerse yourself in
				workshops and masterpieces at FoldCon
			</p>
			<div class="header__info">
				<p class="header__date">10th - 12th nov '23</p>
				<p class="header__location">Tokyo, Japan</p>
			</div>
			<div class="header__buttons">
				<a class="button" href="">Learn More</a>
				<a class="button" href="">Get Tickets</a>
			</div>
		</div>
	</section>
	<main>
		<section class="about" id="about">
			<h2 class="about__title">About</h2>
			<p class="about__description">
				FoldCon is a global celebration of the ancient art of paper
				folding. This creative conference aims to honor origami's
				heritage, unite enthusiasts worldwide, and foster creativity
				with workshops and exhibitions. Join us to explore, create, and
				connect through the transformative power of folded wonders.
			</p>
			<Image alt="animals" src={AnimalImg} width="500" height="500" />
			<Image alt="pattern" src={PatternImg} width="500" height="500" />
			<a class="button button--about" href="schedule.astro"
				>explore schedule</a
			>
		</section>
		<section class="speakers" id="speakers">
			<h2 class="speaker__title">Meet the Speakers</h2>
			<SpeakerList speakers={speakers} />
		</section>
		<section class="venue" id="venues">
			<h2 class="venue__title">Our Venues</h2>
			<VenueList venues={venues} />
		</section>
		<section class="tickets" id="tickets">
			<h2 class="ticket__title">Buy a ticket</h2>
			<ul class="ticket__list">
				{tickets.map((ticket) => <TicketCard ticket={ticket} />)}
			</ul>
		</section>
	</main>
</BaseLayout>
