---
const { type } = Astro.props;
---

<style>
    .header {
        position: fixed;
        top: 0;
        inline-size: 100%;
        block-size: 5vh;
        display: grid;
        grid-template-columns: 1fr repeat(7, max-content);
        align-items: center;
        gap: var(--s-m);
        padding-inline: var(--s-m);
        justify-content: flex-end;
        z-index: 100;
        background-color: rgba(255, 253, 247, 0.5);
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5rem, min-content));
        place-items: center;
        gap: var(--s-s);
    }

    .footer a{
        color: var(--c-white);
    }
</style>

<nav class={type == "header" ? "header" : "footer"}>
    <a href=`${import.meta.env.BASE_URL}/`>Home</a>
    <a href=`${import.meta.env.BASE_URL}/#about`>About</a>
    <a href=`${import.meta.env.BASE_URL}/schedule`>Schedule</a>
    <a href=`${import.meta.env.BASE_URL}/#speakers`>Speakers</a>
    <a href=`${import.meta.env.BASE_URL}/#venues`>Venues</a>
    <a href=`${import.meta.env.BASE_URL}/tutorials`>Tutorials</a>
    <a href=`${import.meta.env.BASE_URL}/#tickets`>Tickets</a>
    <a href=`${import.meta.env.BASE_URL}/#contact`>Contact</a>
</nav>

<script></script>
