---
const { prev, next, path } = Astro.props;
---

<section>
    <ul>
        {
            prev && (
                <li class="button">
                    <a href={`${import.meta.env.BASE_URL}/${path}/${prev.attributes.slug}`}>Previous</a>
                </li>
            )
        }
        {
            next && (
                <li class="right button">
                    <a href={`${import.meta.env.BASE_URL}/${path}/${next.attributes.slug}`}>Next</a>
                </li>
            )
        }
    </ul>
</section>

<style>
    nav {
        background-color: white;
        border-radius: var(--border-radius-xl);
        margin-right: auto;
        margin-left: auto;
        padding: var(--s1) var(--s4);
        max-inline-size: var(--maxContent);
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    .right {
        margin-left: auto;
    }
</style>
