---
import { Image } from "astro:assets";
const { speaker } = Astro.props;
const imageUrl = `${import.meta.env.STRAPI_URL}${speaker.attributes.image.url}`;
---

<style>
    .speaker__container {
        display: grid;
        inline-size: max-content;
        place-items: flex-end;
        gap: var(--s-3xs);
        inline-size: 100%;
    }
    .speaker__name {
        padding-block-start: var(--s-s);
        color: var(--c-blue-d);
    }
    .img__container {
        grid-row: 1;
        position: relative;
        block-size: min-content;
    }
    .speaker__img {
        inline-size: 100%;
    }
    .img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        inline-size: 100%;
        block-size: 100%;
        background-color: rgba(44, 145, 199, 0);
        transition: background-color 0.3s ease;
    }
    .speaker__container:hover .img__overlay {
        background-color: rgba(44, 145, 199, 0.4);
    }
</style>

<li class="speaker__container">
    <!-- <a class="speaker__container" href=""> -->

        <h3 class="speaker__name">
            {
                speaker.attributes.title ? (
                    <span>{speaker.attributes.title} </span>
                    ) : null
                }
        {speaker.attributes.name}
    </h3>
    <p class="speaker__job">{speaker.attributes.job}</p>
    <div class="img__container">
        {
            speaker.attributes.image?.data?.attributes.url && (
                <Image
                alt="Speaker Image"
                src={`${import.meta.env.STRAPI_URL}${
                    speaker.attributes.image?.data?.attributes.url
                }`}
                width="400"
                height="400"
                />
                )
            }
        <div class="img__overlay"></div>
    </div>
<!-- </a> -->
</li>
