---
import { Image } from "astro:assets";
const { speaker } = Astro.props;
---

<style>
    .speaker {
        display: grid;
        inline-size: max-content;
        place-items: flex-end;
        gap: var(--s-3xs);
        inline-size: 100%;
        /* padding: var(--s-m);
        border: var(--c-black) solid 0.1rem; */
    }
    .speaker__name {
        font-size: var(--f-l);
        font-weight: 900;
        padding-block-start: var(--s-s);
        color: var(--c-blue-d);
    }
    .img__container {
        grid-row: 1;
        position: relative;
        block-size: min-content;
    }
    .speaker__img {
        inline-size: inherit;
    }
    .img__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(44, 145, 199, 0);
        transition: background-color 0.3s ease;
    }
    .speaker:hover .img__overlay{
        background-color: rgba(44, 145, 199, 0.4);
    }
</style>

<li class="speaker__container" transition:name={`speaker-${speaker.id}`}>
    <a class="speaker" href={`/speakers/${speaker.id}`}>
    <h3 class="speaker__name">
        {
            speaker.attributes.title ? (
                <span>{speaker.attributes.title} </span>
            ) : null
        }
        {speaker.attributes.name}
    </h3>
    <p class="speaker__job">{speaker.attributes.job}</p>
    <div class="img__container">
        <img
            class="speaker__img"
            src="https://www.whitecase.com/sites/default/files/styles/original_image/public/images/bio/2022/01/DI89_Lee_Sarah_D8.jpg?itok=JECfF9ZB"
            alt="speaker image"
            width="500"
        />
        <!-- <Image
            src={`${import.meta.env.STRAPI_URL}${
                speaker.attributes.image?.data.attributes.url
            }`}
            alt="speaker image"
            width="1625"
            height="1300"
            /> -->
        <div class="img__overlay"></div>
    </div>
        </a>

</li>
