---
const { talk, showCategory = true } = Astro.props;
---

<style>
    .talk__time {
        font-size: var(--f-l);
        justify-self: flex-end;
    }

    .talk__wrapper {
        width: 100%;
        border: var(--c-black) 0.1rem solid;
        display: grid;
        grid-template-columns: min-content 1fr;
        gap: var(--s-2xs) var(--s-xs);
        padding: var(--s-m);
    }

    .talk__location {
        display: flex;
        gap: var(--s-xs);
    }

    .talk__location,
    .talk__speaker {
        grid-column: 2;
    }

    .talk__time {
        font-family: "Chakra Petch", sans-serif;
        font-size: var(--f-l);
        font-weight: 300;
        align-items: flex-start;
    }

    .talk__name,
    .talk__time {
        color: var(--c-blue-d);
    }

    .talk__name {
        padding: unset;
        align-self: center;
    }

    .talk__wrapper[data-category="break"] .talk__time,
    .talk__wrapper[data-category="break"] .talk__name {
        color: var(--c-black);
    }

    .talk__wrapper[data-category="break"],
    .talk__wrapper[data-category="talk"] {
        width: max-content;
        grid-column: 1/-1;
    }

    .talk__wrapper[data-category="break"] h3,
    .talk__wrapper[data-category="break"] .talk__time {
        font-size: var(--f-s);
    }

    .speaker__description,
    .talk__description {
        display: none;
    }
</style>

<li
    class="talk__wrapper"
    data-category={talk.attributes.category?.data?.attributes.category}
>
    <p class="talk__time">{talk.attributes.start}</p>
    <h3 class="talk__name">{talk.attributes.title}</h3>
    {
        talk.attributes.room?.data && (
            <div class="talk__location">
                <p class="talk__room">
                    {talk.attributes.room?.data?.attributes.name}
                </p>
                <p>-</p>
                <p class="talk__venue">
                    {
                        talk.attributes.room?.data?.attributes.venue.data
                            .attributes.name
                    }
                </p>
            </div>
        )
    }
    {
        talk.attributes.speaker?.data && (
            <div class="talk__speaker">
                <p class="speaker__name">
                    {talk.attributes.speaker?.data?.attributes.name}
                </p>
                <p class="speaker__description">
                    {talk.attributes.speaker?.data?.attributes.description}
                </p>
            </div>
        )
    }
    <p class="talk__description">{talk.attributes.description}</p>
</li>

<script>
    const $starts = document.querySelectorAll(`.talk__time`);
    $starts.forEach(($start) => {
        const start = $start.textContent;
        const [hours, minutes] = start.split(":").slice(0, 2);
        $start.textContent = `${hours}:${minutes}`;
    });
</script>
